<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Assistant Scott for AdGone</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

 
  <title>Parallax Website Tutorial</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
  <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>

  <header class="hide">
    <nav>
      <a href="https://scottll.github.io/scottlai.github.io"><img src="../static/pic/img/logo_1.png" alt="sitelogo" class="logo" id="sitelogo"></a>
      <ul>
        <li>
          <a href="https://github.com/ScottLL"><i class="fab fa-github" id="githubButton" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/scottlaiq/"><i class="fab fa-linkedin" id="linkedinButton" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com/scottthefoodie/"><i class="fab fa-instagram" id="instagramButton" aria-hidden="true"></i></a>
        </li>

      </ul>
    </nav>
  </header>


  
  <main>

    <div id="widget" onclick="openChat()">Start AI Assistant</div>
      <div id="chat-container">
        <div id="chat-header">
          <span>Scott's AI Avatar</span>
          <button onclick="minimizeChat()"><i class="fa fa-window-minimize"></i></button>
        </div>
        <ul id="chat-history"></ul>
        <form id="chat-form">
          <div id="textbox" style="display: flex; align-items: center;">
            <textarea id="user-message" placeholder="Type your question here" onkeydown="handleKeyDown(event)"></textarea>
            <button type="submit" id="send-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/> <!-- Send icon shape -->
              </svg>
            </button>
          </div>
        </form>
      </div>

    <div class="vignette hide"></div>
    <img src="../static/pic/img/background.png" data-speedx="0.3" data-speedy="0.38" data-speedz="0" data-rotation="0"
      data-distance="-200" class="parallax bg-img">
    <img src="../static/pic/img/fog_7.png" data-speedx="0.27" data-speedy="0.32" data-speedz="0" data-rotation="0" data-distance="850"
      class="parallax fog-7">
    <img src="../static/pic/img/mountain_10.png" data-speedx="0.195" data-speedy="0.305" data-speedz="0" data-rotation="0"
      data-distance="1100" class="parallax mountain-10">
    <img src="../static/pic/img/fog_6.png" data-speedx="0.25" data-speedy="0.28" data-speedz="0" data-rotation="0"
      data-distance="1400" class="parallax fog-6">
    <img src="../static/pic/img/budda.png" data-speedx="0.125" data-speedy="0.155" data-speedz="0.15" data-rotation="0.02"
      data-distance="1700" class="parallax mountain-9">
    <img src="../static/pic/img/mountain_8.png" data-speedx="0.1" data-speedy="0.11" data-speedz="0" data-rotation="0.02"
      data-distance="1800" class="parallax mountain-8">
    <img src="../static/pic/img/fog_5.png" data-speedx="0.16" data-speedy="0.105" data-speedz="0" data-rotation="0"
      data-distance="1900" class="parallax fog-5">
    <img src="../static/pic/img/mountain_7.png" data-speedx="0.1" data-speedy="0.1" data-speedz="0" data-rotation="0.09"
      data-distance="2000" class="parallax mountain-7">
    <div class="text parallax" data-speedx="0.07" data-speedy="0.07" data-speedz="0" data-rotation="0.11">
      <h2>Scott Lai's</h2>
      <h1>AI Avatar</h1>
    </div>
    <img src="../static/pic/img/mountain_6.png" data-speedx="0.065" data-speedy="0.05" data-speedz="0.05" data-rotation="0.12"
      data-distance="2300" class="parallax mountain-6">
    <img src="../static/pic/img/fog_4.png" data-speedx="0.135" data-speedy="0.04" data-speedz="0" data-rotation="0"
      data-distance="2400" class="parallax fog-4">
    <img src="../static/pic/img/dragon.png" data-speedx="0.08" data-speedy="0.03" data-speedz="0.13" data-rotation="0.1"
      data-distance="2550" class="parallax mountain-5">
    <img src="../static/pic/img/fog_3.png" data-speedx="0.11" data-speedy="0.018" data-speedz="0" data-rotation="0"
      data-distance="2800" class="parallax fog-3">
    <img src="../static/pic/img/male0083.png" data-speedx="0.059" data-speedy="0.024" data-speedz="0.35" data-rotation="0.14"
      data-distance="3200" class="parallax mountain-4">
    <img src="../static/pic/img/mountain_3.png" data-speedx="0.04" data-speedy="0.018" data-speedz="0.32" data-rotation="0.05"
      data-distance="3400" class="parallax mountain-3">
    <img src="../static/pic/img/fog_2.png" data-speedx="0.15" data-speedy="0.0115" data-speedz="0" data-rotation="0"
      data-distance="3600" class="parallax fog-2">
    <img src="../static/pic/img/mountain_2.png" data-speedx="0.0235" data-speedy="0.013" data-speedz="0.42" data-rotation="0.15"
      data-distance="3800" class="parallax mountain-2">
    <img src="../static/pic/img/mountain_1.png" data-speedx="0.027" data-speedy="0.018" data-speedz="0.53" data-rotation="0.2"
      data-distance="4000" class="parallax mountain-1">
    <img src="../static/pic/img/sun_rays.png" class="sun-rays hide">
    <img src="../static/pic/img/black_shadow.png" class="black-shadow hide">
    <img src="../static/pic/img/fog_1.png" data-speedx="0.12" data-speedy="0.01" data-speedz="0" data-rotation="0"
      data-distance="4200" class="parallax fog-1">
  
</main>

<script src="../static/js/gsap.min.js"></script>
<script src="../static/js/app.js"></script>
<script src="../static/js/script.js"></script>
</body>
</html>
